* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;


    font-family: var(--fonte-textos);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.8;
}

h1,
h2 {

    margin-top: 30px;
    margin-bottom: 20px;


    font-family: var(--fonte-titulos);
    color: var(--cor-primaria);
    text-align: center;
}

h1 {

    display: inline-block;


    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--cor-destaque);


    font-size: 2.2rem;
}

h2 {

    font-size: 1.5rem;
}

p {

    margin-bottom: 20px;


    text-align: justify;
    font-size: 1.1rem;
}

a {

    text-decoration: none;
    color: var(--cor-destaque);
    transition: color 0.3s ease;
}

a:hover {

    color: var(--cor-primaria);
}